<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Cardápio - BatFamily’s Burguer</title>
  <link rel="icon" href="/static/coisas/batsimbolo.ico">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <header>
    <div class="top-bar">
      <h1>
        BatFamily’s Burguer
      </h1>
      <div class="menu-buttons">
        <a href="/" class="menu-btn">☰ Home</a>
        <a href="/cardapio" class="menu-btn">🍔 Cardápio</a>
        <a href="/" class="menu-btn">🔐 Login</a>
      </div>
    </div>
  </header>

  <main>
    <div class="container">
      <h2>Nosso Cardápio</h2>
      <ul class="menu-list">
        <li><strong>Nightwing Burguer</strong> - Picanha com cheddar, cebola roxa e molho secreto da Bludhaven 🦅</li>
        <li><strong>Robin Combo</strong> - Smash burger com batata frita e refrigerante ♟</li>
        <li><strong>Combo Batgirl</strong> - Burguer de frango crocante, salada e molho violeta 🌿</li>
        <li><strong>Combo Capuz Vermelho</strong> - Duplo bacon com pimenta e atitude 🔥</li>
        <li><strong>Combo Oráculo Veggie</strong> - Hambúrguer de grão-de-bico, abacate e pão integral 🥜</li>
        <li><strong>Combo Alfred Clássico</strong> - Hambúrguer tradicional com batata rústica e chá 🍵</li>
        <li><strong>Combo Damian Supremo</strong> - Triplo burguer com tudo que o Batman não deixa 🦖</li>
      </ul>
    </div>
  </main>
</body>
</html>
