<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>BatFamily’s Burguer</title>
  <link rel="icon" type="image/x-icon" href="/static/coisas/batsimbolo.ico">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <header>
    <div class="top-bar">
      <h1>
        BatFamily’s Burguer
      </h1>
      <div class="menu-buttons">
        <a href="/sobre" class="menu-btn">☰ Home</a>
        <a href="/cardapio" class="menu-btn">🍔 Cardápio</a>
        <a href="/carrinho" class="menu-btn">🛒 Carrinho</a>
        <a href="/sobre" class="menu-btn">📄 Sobre</a>
        <a href="/index" class="menu-btn">📅 Pedidos</a>
        {% if 'usuario' in session %}
          <a href="/logout" class="menu-btn">🚪 Sair</a>
          <span class="perfil-info">
            {{ session['usuario'] }}
            <img src="{{ session['foto'] }}" alt="perfil" class="foto-perfil">
          </span>
        {% else %}
          <a href="/login" class="menu-btn">🔐 Entrar</a>
        {% endif %}
      </div>
    </div>
  </header>


  <script src="/static/script.js"></script>
</body>
</html>

