<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>BatFamily’s Burguer</title>
  <link rel="icon" href="/static/coisas/batsimbolo.ico">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <header>
    <div class="top-bar">
      <h1>
        BatFamily’s Burguer
      </h1>
      <div class="menu-buttons">
        <a href="/" class="menu-btn">🏠 Início</a>
        <a href="/cardapio" class="menu-btn">🍔 Cardápio</a>
        <a href="/login" class="menu-btn">🔐 Entrar</a>
      </div>
    </div>
  </header>

  <main>
    <div class="container">
      <h2>Bem-vindo à BatFamily’s Burguer</h2>
      <p>O refúgio culinário dos heróis de Gotham. Sabores lendários, combos icônicos e lanches dignos da BatFam!</p>
      <p><strong>📍 Endereço:</strong> Beco do Crime, nº 89 - Gotham City</p>
      <p><strong>🕓 Funcionamento:</strong> Todos os dias, das 18h às 03h</p>
      <p><strong>📞 Contato:</strong> (19) 99851-3212 | batfam@burguer.com</p>
      <br>
      <a href="/login" class="menu-btn">🔓 Faça seu pedido agora</a>
    </div>
  </main>
</body>
</html>
