<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Cardápio - BatFamily’s Burguer</title>
  <link rel="icon" href="/static/coisas/batsimbolo.ico">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <header>
    <div class="top-bar">
      <h1>
        BatFamily’s Burguer
      </h1>
      <div class="menu-buttons">
        <a href="/" class="menu-btn">🏠 Início</a>
        <a href="/cardapio" class="menu-btn">🍔 Cardápio</a>
        {% if 'usuario' in session %}
          <a href="/logout" class="menu-btn">🚪 Sair</a>
          <span class="perfil-info">
            {{ session['usuario'] }}
            <img src="{{ session['foto'] }}" alt="perfil" class="foto-perfil">
          </span>
        {% else %}
          <a href="/login" class="menu-btn">🔐 Entrar</a>
        {% endif %}
      </div>
    </div>
  </header>

  <main>
    <div class="container">
      <h2>Nosso Cardápio</h2>
      <ul class="menu-list">
        {% for item in cardapio %}
          <li>
            <strong>{{ item.nome }}</strong> - {{ item.descricao }}<br>
            <form method="POST" action="/adicionar_carrinho">
              <input type="hidden" name="nome" value="{{ item.nome }}">
              <input type="hidden" name="preco" value="{{ item.preco }}">
              <button type="submit" class="menu-btn">Adicionar ao carrinho</button>
            </form>
          </li>
        {% endfor %}
      </ul>
    </div>
  </main>
</body>
</html>

