<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Sobre - BatFamily’s Burguer</title>
  <link rel="icon" type="image/x-icon" href="/static/coisas/batsimbolo.ico">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <header>
    <div class="top-bar">
      <h1>
        BatFamily’s Burguer
      </h1>
      <div class="menu-buttons">
        <a href="/" class="menu-btn">☰ Home</a>
        <a href="/cardapio" class="menu-btn">🍔 Cardápio</a>
        <a href="/sobre" class="menu-btn">📄 Sobre</a>
      </div>
    </div>
  </header>

  <main>
    <div class="container">
      <h2>Sobre o BatFamily’s Burguer</h2>
      <p>O BatFamily's Burguer foi fundado por heróis famintos e apaixonados por lanches. Aqui você encontra os combos mais lendários de Gotham, preparados com identidade secreta e muito sabor!</p>
      <p><strong>Endereço:</strong> Beco do Crime, nº 89 - Gotham City</p>
      <p><strong>Funcionamento:</strong> Todos os dias, das 18h às 3h da madrugada</p>
      <p><strong>Contato:</strong> (11) 99999-1940 | batfam@burguer.com</p>
    </div>
  </main>
</body>
</html>
